@model YourPlace.ViewModels.RestaurantViewModel
@using YourPlace.ViewModels
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Restaurant.Name</h2>
<ul>
    <li>Restaurant type: @Model.Restaurant.RestaurantType</li>
    <li>Localisation: @Model.Restaurant.Localisation</li>
</ul>
@Html.ActionLink("Edit", "Edit", "Restaurants", new { id = Model.Restaurant.Id }, null)
@using (Html.BeginForm("Delete", "Restaurants", new { id = Model.Restaurant.Id }))
{
    <button type="submit">Delete</button>
}
@using (Html.BeginForm("AddComment", "Restaurants", new { id = Model.Restaurant.Id }))
{
    @Html.TextBoxFor(c => c.NewComment.Body)
    <button type="submit">Add comment</button>
}
@foreach (var comment in Model.Comments)
{
    <ul>
        <li>
            The Author: @comment.AuthorName <br />
            Comment: @comment.Body <br />
            @using (Html.BeginForm("AddParentReply", "Restaurants", new { restaurantId = Model.Restaurant.Id, commentId = comment.Id }))
            {
                @Html.TextBoxFor(r => r.NewParentReply.Body)
                <button type="submit">Reply</button>
            }

            @Html.Partial("_Replies", new ParentReplyViewModel { ParentReplies = comment.Replies, RestaurantId = Model.Restaurant.Id,
           CommentId = comment.Id })
        </li>
    </ul>
}

